<launch>
  <param name="robot_description" textfile="$(find mobile_manipulator)/urdf/mobile_manipulator.urdf"/>

  <node pkg="gazebo_ros" name="mybot_spawn" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model mobile_manipulator -x 0 -y 0 -z 1"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
</launch>